<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="container-fluid">
        <!-- <h3>{{ title }}</h3> -->
        <table class="table ">
            <thead>
                <tr>
                    <th>Linie</th><th>Richtung</th><th>Abfahrt</th>
                </tr>
            </thead>
            <tbody>
            {% for abfahrt in abfahrten %}
                <tr class={{abfahrt.Produkt}}>
                    <td>
                        <img src={{ url_for('static', filename='img/icon_' + abfahrt.Produkt + '.png') }} style="height: 1em" />
                        {{ abfahrt.Linienname }}
                    </td>
                    <td>{{ abfahrt.Richtungstext }}</td>
                    <td>{{ abfahrt.AbfahrtszeitIst.strftime('%H:%M') }} Uhr (in {{ abfahrt.AbfahrtszeitIstIn }} min)</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
